KOMPRESSOR_MEDIA_BACKEND=filesystem
KOMPRESSOR_MOVIES_ROOT=/media/movies
KOMPRESSOR_SHOWS_ROOT=/media/shows
KOMPRESSOR_FFMPEG_BINARY=/usr/bin/ffmpeg
KOMPRESSOR_FFPROBE_BINARY=/usr/bin/ffprobe
KOMPRESSOR_WORKSPACE_ROOT=/mnt/kompressor
KOMPRESSOR_TIMEZONE=Europe/Lisbon
